@media (min-width: 768px) {
  /* Ajustes para desktop */
  .hero-image {
    height: 50vh;
  }

  .preMedia {
    font-size: 28px;
  }

  .info-text > h3 {
    font-size: 32px;
  }

  .carrossel-image {
    max-height: 500px;
  }
}
